*{
  box-sizing: border-box;
}
body{
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header,footer{
  height: 60px;
}
header{
  background-color: blueviolet;
}
footer{
  background-color: brown;
}
main{
  height: calc(100vh - 120px);
  display: flex;
  gap: 10px;
  padding: 10px 0;
}
main div{
  flex-grow: 1;
  background-color: rgb(255, 165, 0);
  height: 100%;
}